@page "/createaccount"

@inject IRegisterViewModel _registerViewModel
@inject NavigationManager _navigationManager

<h3>CreateAccount</h3>

<EditForm Model="@_registerViewModel" OnSubmit="RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-xl-6 col-md-8 col-12">
        <input type="text" @bind="_registerViewModel.FirstName" placeholder="first name" class="form-control dark-theme-textbox">
    </div>
    <br />
    <div class="col-xl-6 col-md-8 col-12">
        <input type="text" @bind="_registerViewModel.LastName" placeholder="last name" class="form-control dark-theme-textbox">
    </div>
    <br />
    <div class="col-xl-6 col-md-8 col-12">
        <input type="text" @bind="_registerViewModel.EmailAddress" placeholder="email address" class="form-control dark-theme-textbox" autocomplete="new-emailaddress">
    </div>
    <br />
    <div class="col-xl-6 col-md-8 col-12">
        <input type="password" @bind="_registerViewModel.Password" placeholder="password" class="form-control dark-theme-textbox" autocomplete="new-password">
    </div>
    <br />
    <div class="col-xl-6 col-md-8 col-12">
        <button type="submit" class="btn btn-danger">Register</button>
    </div>
</EditForm>


@code {
    private async Task RegisterUser()
    {
        await _registerViewModel.RegisterUser();

        _navigationManager.NavigateTo($"/login/{true}");
    }
}
